@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#gifimage img
{
    /*width: auto;
    height: auto;
    max-height: 70%;
    max-width: 100%;*/
    max-width:200%;
    min-width:50%;
}

#gifimage
{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

nav{
    -webkit-transition: opacity 0.5s ease-out 0.1s;
    -moz-transition: opacity 0.5s ease-out 0.1s;
    transition: opacity 0.5s ease-out 0.1s;
}
.topped{opacity:0;}

#headerID
{
 -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.20);
 -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.20);
 box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.20);
}

#headerLogo
{
    width: auto;
    height: 50px;
    margin-left: 40px;
}


#cover
{
    position: fixed;
    width: 100%;
    z-index: -1;
}

#abnImage img
{
    width: 100%;
}

#sparkyImage img
{
    width:100%;
    background-color: #34A8DA;
}

#me img
{
    max-width: 50%;
    max-height: 30%;
}

#me
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#meText
{
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: Open Sans;
    font-size: 17px;
    
}